@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

:root {
  --ui-highlight-color: #ffc600;
  --ui-disabled-color: #808080;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Montserrat-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  background: #181818;
  color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.yellow {
  /* Could use multiple of these to enable theme change, just update classes with add/remove classlist*/
  color: var(--ui-highlight-color);
}

.right {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 72px auto 500px;
  grid-template-rows: auto 87px;
  grid-template-areas: "menu library book-view" "player player player";
}

/* Settings View*/
#settings {
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 10;
}

#settings-header {
  display: flex;
  padding: 0 5%;
}

#settings-content {
  padding: 0 5%;
}

/* Settings View - Keyboard Shortcut Section */

#keyboard-shortcuts {
  display: flex;
  flex-direction: column;
}
#keyboard-shortcuts h3 {
  margin-bottom: 0.5em;
}

.line50 {
  display: grid;
  grid-template-columns: 50% auto;
  padding: 10px 0;
}

.line30 {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 10px 0;
}

.command {
  font-family: "Roboto Mono", monospace;
}

/* Settings View - UI Color Section */
.color-box {
  height: 24px;
  width: 24px;
  margin-right: 3px;
  display: inline-block;
  cursor: pointer;
}

#red-box {
  background-color: #c1292e;
}

#yellow-box {
  background-color: #ffc600;
}

#blue-box {
  background-color: #235789;
}

#green-box {
  background-color: #8ea604;
}

#mahogany-box {
  background-color: #bf3100;
}
#carolinablue-box {
  background-color: #4d9de0;
}
#mediumseagreen-box {
  background-color: #3bb273;
}
#toolbox-box {
  background-color: #7768ae;
}
#raspberry-box {
  background-color: #ec0868;
}
#electricpurple-box {
  background-color: #c200fb;
}

.library {
  grid-area: library;
  overflow: auto;
}

.library-open {
  width: auto;
}

#lib-header {
  display: flex;
  padding: 0 5%;
}

#lib-header label {
  margin: auto 1.5% auto auto;
  color: var(--ui-highlight-color);
  font-size: 1.2rem;
}

#lib-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4%;
}

#hamburger {
  grid-area: hamburger;
  background: #272727;
  z-index: 12;
}

#player {
  grid-area: player;
  background: #272727;
  box-shadow: -0.3rem -0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  z-index: 13;
}

.book-view {
  grid-area: book-view;
  z-index: 12;
  display: flex;
  flex-direction: column;
  background: #212121;
  box-shadow: -0.125rem -0.3rem 0.25rem rgba(0, 0, 0, 0.3);
}

#menu {
  grid-area: menu;
  z-index: 12;
  background: #212121;
  box-shadow: 0.125rem -0.3rem 0.25rem rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
}

.menu-closed {
  width: 72px;
}
.menu-open {
  width: 260px;
}

/* Volume Slider*/

#volume-down {
  -webkit-mask-image: url(../icons/volume_down-24px.svg);
  background-color: var(--ui-highlight-color);
  display: block;
  height: 24px;
  width: 24px;
}

#volume-up {
  -webkit-mask-image: url(../icons/volume_up-24px.svg);
  background-color: var(--ui-highlight-color);
  display: block;
  height: 24px;
  width: 24px;
}

#volume-controlls {
  display: flex;
  height: 24px;
  margin: auto 0 auto 5%;
  width: 200px;
}

#volume-bar {
  position: relative;
  height: 5px;
  width: 90%;
  margin: auto;
  padding: 0 4%;
}

#volume-bar-fill {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 90%;
  height: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

#volume-bar-fill::-webkit-progress-value {
  border: 1px solid var(--ui-highlight-color);
  background: var(--ui-highlight-color);
}

#volume-seek-bar {
  position: absolute;
  top: 0;
  width: 90%;
  cursor: ew-resize;
  margin: 0;
}

#volume-bar-fill::-webkit-progress-value {
  border: 1px solid var(--ui-highlight-color);
  background: var(--ui-highlight-color);
}

/* Scrub and Progress Bars */

#controlls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controll-bar {
  display: flex;
  flex-direction: column;
  justify-content: space around;
  height: 100%;
  padding: 10px 0;
}

#times-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bar-current-time,
#bar-total-time {
  padding: 0 1%;
  width: 100px;
}

#progress-bar {
  position: relative;
  height: 5px;
  width: 100%;
  margin: auto;
}

#progress-bar-fill {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

#progress-bar-fill::-webkit-progress-value {
  border: 1px solid var(--ui-highlight-color);
  background: var(--ui-highlight-color);
}

#seek-bar {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: ew-resize;
  margin: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 5px;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

input[type="range"]::-webkit-slider-thumb {
  visibility: hidden;
}

/* Playback Rate Controlls */
#playback-controlls {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  margin: auto 0 auto 5%;
}

#playback-rate {
  margin: 3px auto;
}

/* Sort Drop Down*/

#sort-select,
#filter-select {
  height: 28px;
  margin: auto 0;
  padding: 1px 6px 3px 6px;
  background-color: #212121;
  color: #fff;
  border: 0px solid #212121;
  font-size: 1rem;
  font-family: "Montserrat-Regular";
}

#chapter-select {
  height: 28px;
  background-color: #272727;
  color: var(--ui-highlight-color);
  border: 0px solid #272727;
  font-size: 1rem;
  font-family: "Montserrat-Regular";
}

#sort-select:focus,
#filter-select,
#chapter-select {
  outline: none;
}

/* Buttons */

.btn {
  border: 0;
  background-color: var(--ui-highlight-color);
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;
  padding: 0;
}

.btn-disabled {
  background-color: var(--ui-disabled-color);
}

.btn-active {
  color: var(--ui-highlight-color);
}

.btn-menu {
  margin: 24px auto 0 24px;
  display: flex;
}

.btn-menu-label {
  margin: auto auto auto 12px;
}

.btn:focus {
  outline: none;
}

#hamburger-btn {
  -webkit-mask-size: cover;
  -webkit-mask-image: url(../icons/menu-24px.svg);
}

.play-pause-audio-btn {
  -webkit-mask-image: url(../icons/play_circle_outline-24px.svg);
  -webkit-mask-size: cover;
  height: 48px;
  width: 48px;
  margin: auto 0;
}

#scrub-forward-btn {
  -webkit-mask-image: url(../icons/forward_30-24px.svg);
  -webkit-mask-size: cover;
  height: 38px;
  width: 38px;
  margin: auto 0;
}

#scrub-backward-btn {
  -webkit-mask-image: url(../icons/replay_30-24px.svg);
  -webkit-mask-size: cover;
  height: 38px;
  width: 38px;
  margin: auto 0;
}

#skip-forward-btn {
  -webkit-mask-image: url(../icons/skip_next-24px.svg);
  -webkit-mask-size: cover;
  height: 38px;
  width: 38px;
  margin: auto 0;
}

#skip-backward-btn {
  -webkit-mask-image: url(../icons/skip_previous-24px.svg);
  -webkit-mask-size: cover;
  height: 38px;
  width: 38px;
  margin: auto 0;
}

#increase-speed-btn {
  -webkit-mask-image: url(../icons/chevron_right-24px.svg);
}
#decrease-speed-btn {
  -webkit-mask-image: url(../icons/chevron_left-24px.svg);
}

#add-folder-btn {
  -webkit-mask-image: url(../icons/create_new_folder-24px.svg);
  -webkit-mask-size: cover;
}
#settings-btn {
  -webkit-mask-image: url(../icons/settings-24px.svg);
  -webkit-mask-size: cover;
}
.settings-div {
  margin: 0 auto 24px 24px;
}
#add-book-btn {
  -webkit-mask-image: url(../icons/book-24px.svg);
  -webkit-mask-size: cover;
}
#library-btn {
  -webkit-mask-image: url(../icons/library_books-24px.svg);
  -webkit-mask-size: cover;
}
.delete-btn {
  -webkit-mask-image: url(../icons/delete-24px.svg);
  -webkit-mask-size: cover;
}
.more-vert-btn {
  -webkit-mask-image: url(../icons/more_vert-24px.svg);
  -webkit-mask-size: cover;
}
.book-menu-close-btn {
  -webkit-mask-image: url(../icons/close-24px.svg);
  -webkit-mask-size: cover;
}
.close-btn {
  -webkit-mask-image: url(../icons/close-24px.svg);
  -webkit-mask-size: cover;
  margin: 22px 0 auto auto;
}

#sleep-timer-btn {
  -webkit-mask-image: url(../icons/timer-24px.svg);
  -webkit-mask-size: cover;
  height: 38px;
  width: 38px;
  margin: auto 2.5%;
}

/* Menu Line */
.menu-line-top {
  -webkit-mask-size: cover;
  -webkit-mask-image: url(../icons/line-24px.svg);
  margin: 6px auto 0 24px;
  background-color: rgba(255, 255, 255, 0.25);
}

.menu-line-bottom {
  -webkit-mask-size: cover;
  -webkit-mask-image: url(../icons/line-24px.svg);
  margin: auto auto 6px 24px;
  background-color: rgba(255, 255, 255, 0.25);
}
/* Library Book Styling */
.book {
  width: 200px;
  height: 300px;
  margin: 1%;
  overflow: hidden;
}

.book-inner {
  height: 300px;
  width: 200px;
}
.book-reveal {
  background: #212121;
  height: 300px;
  width: 200px;
  transition: transform 0.2s;
  transform: translateY(0%);
  padding: 5%;
}
.book-reveal-open {
  transform: translateY(-100%);
}
.book-reveal .menu-title {
  font-weight: bold;
}

.book-image img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.book-title {
  font-weight: bold;
  font-size: 0.8rem;
  display: block;
  padding: 5px 0;
}
.book-author {
  color: #fff;
  font-size: 0.7rem;
  display: block;
}
.book-narrator {
  color: #b3b3b3;
  font-size: 0.7rem;
  display: block;
}
.book-stats {
  color: #fff;
  font-size: 0.7rem;
  display: inline-block;
  padding-top: 5px;
}

.dlt-book-btn:hover,
.edit-book-btn:hover,
.summary-book-btn:hover {
  color: var(--ui-highlight-color);
}

/* Book View */
#book-view-wrapper {
  margin: 0 auto;
  padding: 0 10%;
}
#book-view-content {
  margin-top: 1%;
}
#book-view-cover {
  width: 100%;
  height: auto;
  max-height: 440px; /* TODO: Increase cover size on larger resolution */
  object-fit: cover;
  margin: 3% auto;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.35);
}
#book-view-title {
  font-weight: bold;
}
#book-view-author {
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}
#book-view-narrator {
  color: #b3b3b3;
  font-size: 0.8rem;
  margin-top: 0.5em;
}
#book-view-chapter {
  margin: 0.5em 0;
}
/* Edit Book View*/
.edit-view-wrapper {
  padding: 0 10%;
}
.edit-header {
  display: flex;
  justify-content: space-between;
}

#edit-book-submit,
#change-cover-submit {
  background-color: var(--ui-highlight-color);
  border-color: var(--ui-highlight-color);
}

#edit-book-submit:focus,
#change-cover-submit:focus {
  outline: none;
}

/* Sleep Timer Module */
#sleep-timer-module {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #212121;
  padding: 1%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.sleep-time {
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
}

.sleep-time:hover {
  color: var(--ui-highlight-color);
}

#sleep-popup-title {
  margin: 0;
}

/* Scroll Bar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #808080;
}
