@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: auto 10%;
  margin: 0;
  color: #fff;
  font-family: "Montserrat-Regular";
}

.pointer {
  cursor: pointer;
}

.right {
  float: right;
}

#row1 {
  display: grid;
  grid-template-columns: 50% auto;
  background: #20232d;
  height: 100%;
}

#library {
}

#lib-header {
  text-align: left;
  padding-left: 6%;
}

#lib-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

#player {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

#player-wrapper {
  margin: auto;
}

#player-cover {
  width: 100%;
  height: auto;
}

#player-title {
  font-weight: bold;
}

#player-author {
  color: #fff;
  font-size: 0.9rem;
}

#player-narrator {
  color: #b3b3b3;
  font-size: 0.8rem;
}

#playback-controlls {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  margin: auto 0;
}

#playback-rate {
  margin: 3px auto;
}

#book-cover {
  height: auto;
  margin: auto;
  width: 100%;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.8);
}

#row2 {
  background: #1e212a;
  box-shadow: 0 -0.125rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 10px 0;
}

#controll-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#controlls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#times-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bar-current-time,
#bar-total-time {
  padding: 0 1%;
  width: 130px;
}

#progress-bar {
  position: relative;
  height: 8.4px;
  width: 90%;
  margin: auto;
}

#progress-bar-fill {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

#progress-bar-fill::-webkit-progress-value {
  border: 1px solid #ffc600;
  background: #ffc600;
}

#seek-bar {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  margin: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 5px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

input[type="range"]::-webkit-slider-thumb {
  height: 5px;
  width: 5px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

#sort-select {
  max-height: 20px;
  margin: auto 0;
  padding: 1px 6px;
}

/* Buttons */

.btn {
  border: 0;
  background-color: transparent;
  height: 42px;
  width: 42px;
}

.btn:focus {
  outline: none;
}

#play-audio-btn {
  background-image: url(../icons/play_circle_outline-24px.svg);
  background-size: cover;
  height: 48px;
  width: 48px;
  margin: auto 0;
}

#pause-audio-btn {
  background-image: url(../icons/pause_circle_outline-24px.svg);
  background-size: cover;
  display: none;
  height: 48px;
  width: 48px;
  margin: auto 0;
}

#skip-forward-btn {
  background-image: url(../icons/forward_30-24px.svg);
  background-size: cover;
  margin: auto 0;
}

#skip-backward-btn {
  background-image: url(../icons/replay_30-24px.svg);
  background-size: cover;
  margin: auto 0;
}

#increase-speed-btn {
  background-image: url(../icons/chevron_right-24px.svg);
  height: 28px;
  width: 28px;
}

#decrease-speed-btn {
  background-image: url(../icons/chevron_left-24px.svg);
  height: 28px;
  width: 28px;
}

#add-folder-btn {
  background-image: url(../icons/create_new_folder-24px.svg);
  background-size: cover;
}

.delete-btn {
  background-image: url(../icons/delete-24px.svg);
  background-size: cover;
  border: 0;
  background-color: transparent;
  height: 22px;
  width: 22px;
}

/* Library Book Styling */

.book {
  width: 200px;
  margin: 1%;
}

.book-image img {
  max-width: 100%;
  width: auto;
}

.book-content {
}

.book-title {
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
}

.book-author {
  color: #fff;
  font-size: 0.7rem;
  display: inline-block;
}

.book-narrator {
  color: #b3b3b3;
  font-size: 0.7rem;
  display: block;
}

.book-stats {
  color: #fff;
  font-size: 0.7rem;
  display: inline-block;
}
