@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: auto 10%;
  margin: 0;
  color: #fff;
  font-family: "Montserrat-Regular";
}

#row1 {
  display: grid;
  grid-template-columns: 50% auto;
  background: #20232d;
  height: 100%;
}

#library {
}

#player {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

#player-wrapper {
  margin: auto;
}

#title {
  font-weight: bold;
}

#author {
  color: #b3b3b3;
}

#book-cover {
  height: auto;
  margin: auto;
  width: 100%;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.8);
}

#row2 {
  background: #1e212a;
  box-shadow: 0 -0.125rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 100%;
}

#controll-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#controlls {
  text-align: center;
}

#times-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bar-current-time,
#bar-total-time {
  padding: 0 1%;
  width: 130px;
}

#progress-bar {
  flex-direction: row;
  display: flex;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
  width: 90%;
  margin: auto;
}

#progress-bar-fill {
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
  height: 5px;
  width: 100%;
}

/* Buttons */

.btn {
  border: 0;
  background-color: transparent;
  height: 42px;
  width: 42px;
}

#play-audio-btn {
  background-image: url(../icons/play_circle_outline-24px.svg);
  background-size: cover;
  height: 48px;
  width: 48px;
}

#pause-audio-btn {
  background-image: url(../icons/pause_circle_outline-24px.svg);
  background-size: cover;
  display: none;
  height: 48px;
  width: 48px;
}

#skip-forward-btn {
  background-image: url(../icons/forward_30-24px.svg);
  background-size: cover;
}

#skip-backward-btn {
  background-image: url(../icons/replay_30-24px.svg);
  background-size: cover;
}
